.icon-return {
    cursor: pointer;
}
.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
*:focus {
    outline: none;
}

foliate-view {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}
